@tailwind base;
@tailwind components;
@tailwind utilities;


.selection-bg ::selection {
    background-color: #79ffe1;
}

.dark .selection-bg ::selection {
        background-color: #f81ce5;
        color: white;
}

.h-106 {
    height: 32rem/* 384px */;
}

.h-106 {
    height: 37rem/* 384px */;
}

.w-106 {
    width: 40rem/* 384px */;
}
